#Ignore eclipse settings
.classpath
.settings/org.scala-ide.sdt.core.prefs

#Ignore redis db
dump.rdb

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
